[Unit]
Description=Install Notify
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment="NUV_BRANCH=3.0.0-remote"
Environment="NUV_REMOTE_CLOUD=$CLOUD"
Environment="NUV_REMOTE_NTFY_TOKEN=$TOKEN"
Environment="NUV_REMOTE_NTFY_TOPIC_IN=$IN"
Environment="NUV_REMOTE_NTFY_TOPIC_OUT=$OUT"

ExecStartPre=nuv -update
ExecStart=/usr/bin/nuv remote server run
Restart=on-failure
