[Unit]
Description=Install Notify
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ntfy sub --token "$NUV_NOTIFY_NTFY_TOKEN" "$NUV_NOTIFY_NTFY_TOPIC" /usr/local/bin/install-notify.sh
Restart=on-failure

