AWS_REGION=us-east-1
EKS_CLUSTER_NAME=nuvolaris-eks
EKS_NODE_GROUP_NAME=nuv-ng-1
EKS_INSTANCE_TYPE=m5.xlarge
EKS_DESIRED_CAPACITY=2
EKS_VOLUME_SIZE=80
EKS_KUBERNETES_VERSION=1.25
EKS_RSA_PUB_KEY=ssh-rsa.......
